body {
    font-family: "Sofia";
    background-image: url("https://scontent.fmnl25-1.fna.fbcdn.net/v/t1.15752-9/351100591_1272830693335635_3910689409106899807_n.jpg?_nc_cat=108&cb=99be929b-59f725be&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeESAY-RVcKV0-R-G834ntGE2WC_xp_R4o_ZYL_Gn9Hij5sp0sFb0ZBRjDtlsqJpmec5x25-hpjuel0F5z304DUZ&_nc_ohc=IMkW0tSlAvsAX-XI_N2&_nc_oc=AQk7kBznSGA12D6U4-SvRS6bu3EMOtrkyentS0qQbGM62jOGl8Y7v9_K399zJDebZwo&_nc_ht=scontent.fmnl25-1.fna&oh=03_AdSq5zYtCl7h9ajOTK14gLBpotIE76NVpcI-qQDAVSnTDg&oe=64EC96F1");
    font-size: 15px;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
        "navbar"
        "expenses"
        "footer ";
    gap: 16px;
}

.navbar {
    grid-area: navbar;
    background-color: #A0AECD;
    display: flex;
}

.navbar .logo {
    display: flex;
    align-items: center;

}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 7px;
}

.navbar p {
    margin: 0;
    font-size: 30px;
}

.expenses-container {
    grid-area: expenses;
    background-color: #A0AECD;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: 0.7fr 2fr 0.1fr;
    gap: 0;
    grid-template-areas:
        "add-items "
        "added-items "
        "options-container";
}

.add-items-container {
    grid-area: add-items;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

}

.added-items-container {
    grid-area: added-items;
    padding: 0 10px;

}


.expenses-container .expenses-para {
    font-size: 30px;
    letter-spacing: 5px;
}


#add-button {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 7px 20px;
    margin-top: 10px;
    width: auto;
    align-self: flex-end;
}

.more-options button:hover,
.save-option button:hover,
#add-button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s;
}

#new-item-text {
    padding: 5px 5px;
    margin-top: 10px;
}

.options-footer {
    grid-area: options-container;
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-footer button {
    border-radius: 0;
    border: none;
    padding: 5px;
}

.save-option {
    border-left: 1px solid black;
}

.options-footer .material-symbols-outlined {
    line-height: normal;
}

.more-options {
    border-right: 1px solid black;
}

.duration-option {
    letter-spacing: 5px;
}

.footer {
    grid-area: footer;
    font-size: 23px;
    background-color: #A0AECD;
    display: flex;
    align-items: center;
    justify-content: center;
}